
    <div
            id={{compId}}

            ngFileDrop
            [options]=options
            (onUpload)="handleUpload($event)"
            [ngClass]="{'file-over': hasBaseDropZoneOver}"
            (onFileOver)="fileOverBase($event)">



        <div class="flexContainer_row">
            <div class="flexContainer_col">
                <div>
                    <label class="lbl-form_main">{{title}}</label>
                </div>
                <div>
                    <label class="secParagraph" *ngFor="let text of secParagraphArray" > {{text}}
                    </label>
                    <label class="secParagraph">Browse for file or drag it here</label>
                </div>
            </div>

        </div>
        <div class="form-control"
             [formGroup]=currentForm

             [ngClass]="{   'file-over-bg': hasBaseDropZoneOver ,
                                    'ng-invalid' : uploadedDataArray.length == 0 && currentFormEntry.required ==true,
                                    'ng-valid' : uploadedDataArray.length != 0,
                                    'optional' : currentFormEntry.required == false && uploadedDataArray.length == 0
                                    ,'formList':true}"
             required>

            <md-grid-list cols="4"
                          rowHeight="42px">


                <md-grid-tile *ngIf="uploadedDataArray.length==0"
                              [colspan]="3" [rowspan]="1">
                    <md-list [style.padding]="'0'">
                        <md-list-item class="myMdlist-item" [style.color]="'darkgrey'">
                            <!--<md-icon md-list-avatar class="material-icons">warning</md-icon>-->
                            <i class="mdi mdi-alert-box mdi-24px" > </i>
                            <input *ngIf="currentFormEntry.required != true"
                                    type="text"
                                   class="notvisibleInput"
                                   id={{currentFormEntry.key}}
                                   formControlName={{currentFormEntry.key}}
                                   />
                            <input *ngIf="currentFormEntry.required == true"
                                   type="text"
                                   class="notvisibleInput"
                                   formControlName={{currentFormEntry.key}}
                                   required/>
                            <div class="mat-list-text">
                                <h4> ... No file has been uploaded yet  !</h4>
                            </div>
                        </md-list-item>

                    </md-list>
                </md-grid-tile>
                <md-grid-tile *ngIf="uploadedDataArray.length!=0"
                              class="my-grid-list-text-align-left"
                              [colspan]="3" [rowspan]="1"
                              [style.background]="'lightgrey'"
                              [style.justify-content]="'flex-start'"
                              [style.border-top-left-radius]="' 0.25rem'">
                    <md-list [style.padding]="'0'"  layout="row" layout-align="center center">
                        <md-list-item>
                            <p  md-line class="form_gridList_mdList_mainParagraph">File Name</p>
                            <p  md-line class="form_gridList_mdList_secParagraph"> Saving Date, Size </p>
                        </md-list-item>
                    </md-list>
                </md-grid-tile>


                <md-grid-tile
                        [colspan]="1"
                        [rowspan]="1"
                        [style.background]="'snow'"
                        [style.border-top-right-radius]="'0.25rem'"
                >

                    <div class="btn btn-sm"
                         [ngClass]="{'btn_lmu_emptyFields' : uploadedDataArray.length==0, 'btn_lmu' : uploadedDataArray.length!=0 }"
                         >


                        <label class="formLabel_button">
                            <span class="placeholder_button"></span>

                            <i class="mdi mdi-file-find mdi-24px"></i>
                                <span> Browse </span>
                            <span class="placeholder_button"></span>
                            <input type="file" class="upload"
                                   ngFileSelect
                                   [options]=options
                                   (onUpload)="handleUpload($event)"

                                   hidden="true"
                            />


                        </label>

                        <!--
                         formControlName={{formCtrlName}}
                                   required/>
                         -->

                    </div>

                </md-grid-tile>

            </md-grid-list>

            <md-grid-list cols="4"
                          rowHeight="38px"

                          *ngFor="let file of uploadedDataArray"
                          [style.border-top]="'thin solid lightgrey'"
                          [style.border-radius]="'0'">

                <md-grid-tile
                        [colspan]="3"
                        [rowspan]="1"

                        class="my-grid-list-text-align-left">
                    <md-list [style.padding]="'0'" [style.justify-content]="'flex-start'">
                        <md-list-item >
                            <p  md-line class="form_gridList_mdList_mainParagraph_sm">{{file.originalName}}</p>
                            <p  md-line class="form_gridList_mdList_secParagraph_sm"> {{file.endTime | date:'yyyy-MM-dd HH:mm:ss'}} , {{getFileSize(file.size)}} </p>
                        </md-list-item>
                    </md-list>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1"
                              [style.border-left]="'thin solid lightgrey'"
                              [style.border-bottom]="'thin solid lightgrey'">
                    <button  md-button type="button"
                             class="mat-primary"
                             (click)="deleteFile(file)">
                        <i class="mdi mdi-delete mdi-24px"></i>
                    </button>

                </md-grid-tile>

            </md-grid-list>
        </div>

    </div>
