
/*
.dashBoardContentContainer
{

    padding:2%;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}
*/

/*******************main content***************************/

#startPage_mainContent
{
    background:white;
    padding:24px;
}

/*#startPageCard
{

}
*/