<!DOCTYPE html>
<html lang="en">

<div  id="startPage_mainContent">

        <h4> Online Application for the MSc Data Science </h4>

    <div class="textContent">

        <p class="subTitle"> <br/> Application for the program starting in the winter term 2017/2018 </p>


        <p>
            Please note: We only accept online applications.
            <br/><br/> You can submit your <b>online application</b> for the <b>MSc Data Science</b> at LMU Munich on this website
            <br/><b>from mid-April to 1 June 2017</b>.
        </p>

        <p>
            The following documents must be submitted by all applicants via the portal:
        </p>

            <ul>
                <li>Bachelor certificate (if not yet available, it needs to be provided no later than 30 September 2018)</li>
                <li>Transcript of records</li>
                <li>Data Science essay</li>
                <li>Proof of proficiency in English</li>
            </ul>


        <p>
            When you start your online application you will see the details on the information and the type of documents required.
        </p>
        <p>
            You may also submit other documents that may be relevant for the application (e.g. certificate of enrolment or course certificates / credits from earlier study programmes; vocational certificates from the IT sector).
        </p>
        <p>
            Documents which are not in German or English must be provided as a certified translation.
        </p>
        <p>
            Your <b>online application is the first step</b> in the application process. You will be informed by email whether or not you have passed this first step.
            If your online application is successful we will invite you for an <b>interview</b>. Interviews (personal or via videoconference) will take place at the end of June/beginning of July 2017. Invitations to the interviews (with date and time) will be sent out by email at least one one week before the scheduled interview date.
        </p>
        <p>
            <b>Please check your email regularly</b>.
        </p>
    </div>
    <div class="textContent">
        <p class="subTitle">Foreign applicants</p>
        <p>
            Applicants who do not hold German citizenship and have obtained their certificates and degrees from non-German institutions have to apply <b>simultaneously</b> at the LMU International Office.
            <br/><a class="a_lmu_text" href="http://test-datascience.ifi.lmu.de/contact-info">(International Office, Ludwigstraße 27, 80539 München)</a>.
            <br/>For further information, click here:
            <a class="a_lmu_text" href="http://test-datascience.ifi.lmu.de/contact-info">German</a>,
            <a class="a_lmu_text" href="http://test-datascience.ifi.lmu.de/contact-info">English</a>
        </p>
        <p>
            The aptitude assessment and the application at the International Office are two independent processes. The International Office reviews the qualifications obtained abroad in order to certify whether the applicant is eligible to study at LMU Munich. However, the International Office will not make a decision regarding the aptitude of the student and subsequent admission to the specific study courses.
        </p>
    </div>
    <div class="textContent">
      <p class="subTitle">Registration</p>

        <p>
            In order to access this area, you have to log in here with your user name and password. Should you not have a user name yet, please fill in the registration form.
            If you have forgotten your password, please click here to request a new password.
            </p>
                    <p>
            You may change and modify your application as often as you wish before finally submitting it. After you have completed entering your data, please do not forget to log off or to close your browser.
                    </p>
        <p>
            Please note: It is not possible to make any changes once you have completed your application and submitted it online.
        </p>
        <p>
            If you have any questions please contact us via email at: m-datascience@lmu.de.
        </p>
        <p>
            If you have technical problems please contact the system administrator at: itadm-datascience@tcs.ifi.lmu.de.
        </p>
    </div>

</div>

</html>
